<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148215330977-mad9556d6dqs00890vb9rd5adgk7i9in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148215330977-mad9556d6dqs00890vb9rd5adgk7i9in</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148215330977-j02mhefvj1ugenk6g2n3513dje7fmspu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2F9NHkN00qmYDPwubMSxa1T31iFGWCDY</string>
	<key>GCM_SENDER_ID</key>
	<string>148215330977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.citelis</string>
	<key>PROJECT_ID</key>
	<string>signingappdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>signingappdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148215330977:ios:1b7425479989c891e318e0</string>
</dict>
</plist>